.formUpdate {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.formUpdate button {
    background-color: #006699;
    color: white;
    width: 200px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'lato';
    font-size: 1em;
    transition: 0.3s;
}
.formUpdate button:hover {
    background-color: #004466;
}
.formUpdateContainer {
    display: flex;
}
